#green{
    background-color: green;
    height: 400px;
}
#white{
    background-color: white;
    height: 400px;
}
#red{
    background-color: red;
    height: 400px;
}
.whole{
    display: flex;
    flex-direction: row;
    border: solid 5px black;
}
.whole > div{
    flex: 1;
}